$def with (meta, content)
$:render.header(meta)
<div id="page">
  <div id="content">

    <div class="post">
      <h2 class="title">$meta.title</h2>

      <p class="byline"><small>Posted by $meta.author</small></p>
      <div class="entry">
        $:content
      </div>
      <div class="meta">
        <p class="links"><a href="#" class="comments">Comments (32)</a> &nbsp;&bull;&nbsp;&nbsp; <a href="#" class="more">Read full post &raquo;</a></p>
      </div>
    </div>
    <div class="post">
      <h2 class="title">Lorem Ipsum Dolor Volutpat</h2>

      <p class="byline"><small>Posted by FreeCssTemplates</small></p>
      <div class="entry">
        <p>Curabitur tellus. Phasellus tellus turpis, iaculis in, faucibus lobortis, posuere in, lorem. Donec a ante. Donec neque purus, adipiscing id, eleifend a, cursus vel, odio. Vivamus varius justo sit amet leo. Morbi sed libero. Vestibulum blandit augue at mi. Praesent fermentum lectus eget diam. Nam cursus, orci sit amet porttitor iaculis, ipsum massa aliquet nulla, non elementum mi elit a mauris.</p>
        <ul>
          <li><a href="#">Magna lacus bibendum mauris</a></li>
          <li><a href="#">Velit semper nisi molestie</a></li>
          <li><a href="#">Magna lacus bibendum mauris</a></li>

          <li><a href="#">Velit semper nisi molestie</a></li>
        </ul>
      </div>
      <div class="meta">
        <p class="links"><a href="#" class="comments">Comments (32)</a> &nbsp;&bull;&nbsp;&nbsp; <a href="#" class="more">Read full post &raquo;</a></p>
      </div>

    </div>
  </div>
  <!-- end #content -->
  $:render.sidebar()
</div>
<!-- end #page -->
$:render.footer()
