$def with (title, contents)
$:render.header(title)
<div id="page">
  <div id="content">

  $for content in contents:
    <div class="post">
      <h2 class="title">$content.title</h2>
      <p class="byline">
        <small>Posted by $content.author
        $if content.date:
          on $content.date
        </small>
      </p>
      <div class="entry">
        $:content.html
      </div>
      <div class="meta">
        <p class="links">
          <a href="/$content.slug" class="comments">Comments
          ($len(content.comments))</a> 
          $if content.tags:
            &nbsp;&bull;&nbsp;&nbsp; Tags: 
            $:', '.join([ '<a href="/tags/%s">%s</a>' % (tag, tag) for tag in content.tags ])
          &nbsp;&bull;&nbsp;&nbsp;
          <a href="/$content.slug" class="more">Read full post &raquo;</a>
        </p>
      </div>
    </div>
  </div>
  <!-- end #content -->
  $:render.sidebar()
</div>
<!-- end #page -->
$:render.footer()
