  <div id="sidebar">
    <div id="sidebar-bgtop"></div>
    <div id="sidebar-content">
      <ul>
        <li>
          <h2>Recent Posts</h2>
          <ul>
            $for post in get_sidebar_posts():
              <li><a href="/$post.meta.slug">$post.meta.title</a> by $post.meta.author</li>
          </ul>
        </li>
        <li>
          <h2>Recent Comments</h2>
          <ul>
            $for (comment, slug_meta) in recent_comments():
              <li>$comment.name
              on 
                <a href="/$(slug_meta.slug)">$slug_meta.title</a>
              </li>
          </ul>
        </li>
        <li>
          <h2>Tags</h2>
          <ul>
            <li>foo</li>
          <ul>
        </li>
      </ul>
    </div>
    <div id="sidebar-bgbtm"></div>
  </div>
  <!-- end #sidebar -->
