  <div id="sidebar">
    <div id="sidebar-bgtop"></div>
    <div id="sidebar-content">
      <ul>
        <li>
          <h2>Recent Posts</h2>
          <ul>
            $for post in get_sidebar_posts():
              <li><a href="/$post.slug">$post.title</a> by $post.author</li>
          </ul>
        </li>
        <li>
          <h2>Recent Comments</h2>
          <ul>
            $for (comment, slug_meta) in recent_comments():
              <li>$comment.name
              on 
                <a href="/$(slug_meta.slug)">$slug_meta.title</a>
              </li>
          </ul>
        </li>
        <li>
          <h2>Archives</h2>
          <ul>
          $for (month, postcount) in get_sidebar_calendar():
            <li><a href="/blog/$month">$month ($postcount)</a></li>
          </ul>
        </li>
        <li>
          <h2>Tags</h2>
          <p>
          $:', '.join([ '<a href="/tags/%s">%s (%d)</a>' % (tag.strip(), tag.strip(), count) for tag, count in get_tags() ])
          </p>
        </li>
      </ul>
    </div>
    <div id="sidebar-bgbtm"></div>
  </div>
  <!-- end #sidebar -->
