$def with (content, reply_form)
$:render.header(content.title)
<div id="page">
  <div id="content">

    <div class="post">
      <h2 class="title">$(content.title)</h2>

      <p class="byline">
        <small>Posted by $content.author
        $if content.date:
          on $(content.date)
        </small>
      </p>
      <div class="entry">
        $:content.html
      </div>
      <div class="meta">
        <p class="links">$len(content.comments) comments 
        $if content.tags:
          &nbsp;&bull;&nbsp;&nbsp;
          Tags: 
          $:', '.join([ '<a href="/tags/%s">%s</a>' % (tag.strip(), tag.strip()) for tag in content.tags ])
        </p>
      </div>
    </div>

    $# This is a little goofy... since form.validates() modifies the internal
    $# state of the form (and apparently things are not executed inside templates
    $# in-order), we simply check the note attribute of the form, since if validate
    $# has been called it wil be set with some message, and if not it won't.
    $if reply_form.note:
      <script type="text/javascript">
        document.reply_form.name.focus();
      </script>
 
    <div class="comments">
      $for comment in content.comments:
        <div class="comment">
          <p>
            $if comment.url:
              <a href="$comment.url">$comment.name</a> 
            $else:
              $comment.name
            @ $comment.time:
          </p>
          <p>$comment.payload</p>
        </div>
    </div>
		<div id="reply_id" class="reply" style="padding: 10px;">
			<form id="reply_form" method="post" action="/$(content.slug)/comment">
        <p>
			  $:reply_form.render()
				<input type="submit" value="Post Reply" />
        </p>
			</form>
		</div>
  </div>
  <!-- end #content -->
  $:render.sidebar()
</div>
<!-- end #page -->
$:render.footer()
